@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: rgba(242, 194, 219, 0.8);
  justify-content: center;
}


.logo{
  font-family: Mea Culpa;
  color: #fff;
  height: 60px;
  font-size: 50px;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 500;
  text-decoration: none;
}

li, a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

header{
  position: relative;
  padding: 10px;
  margin: 20px auto;
  max-width: 2200px;
  background-color: rgb(220, 170, 196);
  border-radius: 4px;
  box-shadow: 5px 2px 5px rgb(0,0,0,.3);
}

nav{
  float: right;
}

.clearfix{
  clear: both;
}

nav ul{
  margin: 0;
  padding: 0;
  display: inline-flex;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover{
  background: rgba(130, 64, 98, 0.8);
  transition: 0.5s;
}

h2{
  font-family: 'Mea Culpa';
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 60px;
  letter-spacing: 5px;
  padding: 10px;
  font-weight: 500;
}

h3{
  font-family: 'Mea Culpa';
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 50px;
  letter-spacing: 3px;
  padding: 10px;
  font-weight: 500;
}

.about{
  background: url(https://i.imgur.com/kqqWW2G.jpeg) no-repeat left;
  overflow: hidden;
  background-size: 55%;
  background-color: rgba(242, 194, 219, 0);
  border-radius: 4px;
  padding: 100px 20px 100px 20px;
  margin: 20px;
  
}

.inner-section{
  width: 55%;
  float: right;
  border-radius: 4px;
  padding: 20px;
  background-color: rgb(220, 170, 196);
  box-shadow: 5px 4px 5px rgba(0,0,0,0.3);
}

.inner-section h2{
  text-align: center;
  font-family: 'Mea Culpa';
  color: #fff;
  font-size: 50px;
  font-weight: 500;
}

.text{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 30px;
  text-align: center;
}

.gallery-title{
  position: relative;
  display: center;
  float: none;
  width: 45%;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 40px;
  left: 0;
  border-radius: 4px;
  padding: 10px;
  background-color: rgb(220, 170, 196);
  box-shadow: 5px 4px 5px rgba(0,0,0,0.3);
}


@media screen and (max-width: 2400px) and (min-width: 600px){

  h2{
    font-size: 70px;
  }
  
  header{
    align-items: center;
    margin: 20px;
  }

  .inner-section{
    padding: 80px;
  }

  .slides{
    display: none;
  }

  .side-container{
    position:relative;
    margin-top: 20px;
    max-width: 2000px;
    height: 60vh;
    align-items: center;
    overflow: hidden;
  }

  .image-slider{
    width: 50%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
    left: 0;
  }
  
  .slides-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
  }

   .img{
    position: relative;
    width: 300px;
    height: 400px;
    transition: .5s;
  }

  .button{
    position: absolute;
    width: 300px;
    height: 400px;
    transition: .5s;
    background-color: rgba(0,0,0,0.6);
  }

  .button:hover{
    background-color: rgba(0,0,0,0.2);
  }

    #slider-span1:target ~ .image-slider #img-1,
  #slider-span1:target ~ .image-slider #button-1,
  #slider-span2:target ~ .image-slider #img-2,
  #slider-span2:target ~ .image-slider #button-2,
  #slider-span3:target ~ .image-slider #img-3,
  #slider-span3:target ~ .image-slider #button-3,
  #slider-span4:target ~ .image-slider #img-4,
  #slider-span4:target ~ .image-slider #button-4,
  #slider-span5:target ~ .image-slider #img-5,
  #slider-span5:target ~ .image-slider #button-5,
  #slider-span6:target ~ .image-slider #img-6,
  #slider-span6:target ~ .image-slider #button-6{
    width: 380px;
    height: 485px;
    background-color: transparent;
    filter: saturate(100%);
  }

  /*image position*/
  #slider-span1:target ~ .image-slider {left: 50%;}
  #slider-span2:target ~ .image-slider {left: 25%;}
  #slider-span3:target ~ .image-slider {left: 5%;}
  #slider-span4:target ~ .image-slider {left: -5%;}
  #slider-span5:target ~ .image-slider {left: -25%;}
  #slider-span6:target ~ .image-slider {left: -35%;}
}
  

@media screen and (max-width:1000px){
  
  .about{
    background-size: 100%;
    padding: 100px 40px;
  }
  
  .inner-section{
    width: 100%;
  }
  
  .menu-toggle{
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color: rgb(220, 170, 196);
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
  }
  
  .menu-toggle:before{
    color: #fff;
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 20px; 
  }

  nav{
    display: none;
  }

  nav.active{
    text-align: center;
    display: block;
    width: 100%;
  }

  nav.active ul{
    display: block;
  }

  nav.active ul li{
    margin: 0;
  }

  .menu-toggle.active:before{
    color: #fff;
    content: '\f00d';
  }
}

@media (max-width: 600px){

  .logo{
    font-size: 33px;
    font-weight: 500;
  }
  
  .menu-toggle{
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color: rgb(220, 170, 196);
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
  }
  
  .menu-toggle:before{
    color: #fff;
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 20px; 
  }

  nav{
    display: none;
  }

  nav.active{
    text-align: center;
    display: block;
    width: 100%;
  }

  nav.active ul{
    display: block;
  }

  nav.active ul li{
    margin: 0;
  }

  .menu-toggle.active:before{
    color: #fff;
    content: '\f00d';
  }

  .about{
    position: relative;
    padding: 20px;
    background: none;
  }
  
  .inner-section{
    text-align: justify;
    padding:20px;
  }

  input.set { 
  display:none; 
  }

  .image-slider{
    display: none;
  }
  
input.set{
  display: none;
}

#slide1:checked ~ .mask .overflow { margin-left:0; }
#slide2:checked ~ .mask .overflow { margin-left:-100%; }
#slide3:checked ~ .mask .overflow { margin-left:-200%; }
#slide4:checked ~ .mask .overflow { margin-left:-300%; }

.slides{ 
  margin-left: 10px;
  margin-right: 10px;
  width: 90%; 
  position: relative; 
}

.slides .mask{ 
  position: relative;
  width: 90%; 
  overflow: hidden; 
  margin: auto; 
  }

.slides .overflow{
  width:400%; 
  -webkit-transform:translateZ(0); 
  -webkit-transition:all 0.5s ease-out; 
  -moz-transition:all 0.5s ease-out; 
  -o-transition:all 0.5s ease-out; 
  transition:all 0.5s ease-out; 
}

.slides .slide{
  width:25%; 
  height:500px; 
  line-height:400px; 
  float:left; 
}

#pic1{
  background-image: url(https://i.imgur.com/fBYEYXb.png);
  background-position: center center;
  background-attachment: fixed;
  
}

#pic2{
  background-image: url(https://i.imgur.com/brTXHnI.png);
  background-position: center center;
  background-attachment: fixed;
  
}

#pic3{
  background-image: url(https://i.imgur.com/KpsKtMx.jpeg);
  background-position: center center;
  background-attachment: fixed;
  
}

#pic4{
  background-image: url(https://i.imgur.com/nsr11Wr.jpeg);
  background-position: center center;
  background-attachment: fixed;
}

#controls{
  width:100%; 
}

#controls label{
  display:none; 
  width:5%; 
  height:60px; 
  opacity:0.3; 
  position:absolute; 
  top:50%; 
  margin-top:-30px; 
  cursor:pointer; 
  background:#000; 
}

#controls label:hover{ 
  opacity:0.8; 
}

#slide1:checked ~ #controls label:nth-child(2), #slide2:checked ~ #controls label:nth-child(3), #slide3:checked ~ #controls label:nth-child(4) { right:0; display:block; }

#slide2:checked ~ #controls label:nth-child(1), #slide3:checked ~ #controls label:nth-child(2), #slide4:checked ~ #controls label:nth-child(3) { left:0; display:block; }
 
}

.pricing-table{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: min(1600px, 100%);
  margin: auto;
}

.pricing-card{
  position: relative;
  flex: 1;
  max-width: 360px;
  background-color: #fff;
  margin: 20px 10px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: #2d2d2d;
  transition: .3s linear;
}

.pricing-card-header{
  background-color: rgb(220, 170, 196);
  display: inline-block;
  color: #fff;
  padding: 12px 30px;
  border-radius: 0 0 20px 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  transition: .4s linear;
}

.price-text{
  color:rgb(220, 170, 196);
}

.price-text:after{
  color: #fff;
}

.pricing-card:hover .pricing-card-header{
  box-shadow: 0 0 0 26em rgb(220, 170, 196);
}

.price{
  font-size: 70px;
  color: rgb(220, 170, 196);
  margin: 40px 0;
  transition: .2s linear;
}

.price sup, .price span{
  font-size: 22px;
  font-weight: 700;
}

.pricing-card:hover ,.pricing-card:hover .price, .price-text{
  color: #fff;
}

.pricing-card li{
  font-size: 16px;
  padding: 10px 0;
  text-transform: uppercase;
}

.order-btn{
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 250px;
  border: 2px solid rgb(220, 170, 196);
  color: rgb(220, 170, 196);
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: .3s linear;
}

.order-btn:hover{
  background-color: rgb(220, 170, 196);
  color: #fff;
}

@media screen and (max-width:1100px){
  .pricing-card{
    flex: 50%;
  }
}

.contact{
  background-color: rgba(242, 194, 219, 0);
  float: center;
  border-radius: 4px;
  padding: 100px 20px 100px 20px;
  margin: 20px;
  
}

.inner-contact{
  position: relative;
  display: center;
  float: none;
  width: 55%;
  margin: auto;
  border-radius: 4px;
  padding: 10px;
  background-color: rgb(220, 170, 196);
  box-shadow: 5px 4px 5px rgba(0,0,0,0.3);
}

footer{
  position: flex;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(220, 170, 196);
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: rgba(130, 64, 98, 0.8);
}

